<div class="page-wrapper" >
 <header style="border-bottom:darkgray;border-bottom-style: ridge" class="page-header">

       <i style="float:right" class="glyphicon glyphicon-shopping-cart"></i>
     </header>
   <h1 class="elegantshd">Cheese Boi Clothing</h1>
</div>
<div  class="page-wrapper "  >
    <div id="demo" class="carousel slide" data-ride="carousel">
        <ul class="carousel-indicators">
          <li data-target="#demo" data-slide-to="0" class="active"></li>
          <li data-target="#demo" data-slide-to="1"></li>
          <li data-target="#demo" data-slide-to="2"></li>
        </ul>
        <div class="carousel-inner"> 
          <div class="carousel-item active">
            <img src="../assets/download (1).jpg" alt="Los Angeles" width="1100" height="200">
            <div class="carousel-caption">
              <h3>Buy Now</h3>
              <p>Almost out of stock</p>
            </div>   
          </div>
          <div class="carousel-item">
            <img src="../assets/download (7).jpg" alt="Chicago" width="1100" height="200">
            <div class="carousel-caption">
              <h3>Chicago</h3>
              <p>Thank you, Chicago!</p>
            </div>   
          </div>
          <div class="carousel-item">
            <img src="../assets/download (3).jpg" alt="New York" width="1100" height="200">
            <div class="carousel-caption">
              <h3>New York</h3>
              <p>We love the Big Apple!</p>
            </div>   
          </div>
        </div>
        <a class="carousel-control-prev" href="#demo" data-slide="prev">
          <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#demo" data-slide="next">
          <span class="carousel-control-next-icon"></span>
        </a>
      </div>
      <ul class="nav nav-tabs nav-justified">
          <li class="nav-item">
            <a class="nav-link active" href="#">Active</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#">Disabled</a>
          </li>
        </ul>
      <!-- <div class="row">
          <div class="col-md-6 " *ngFor="let product of products;let i = index">
              <div class="gallery">
                  <a target="_blank" href="../assets/download (7).jpg">
                    <img src="data:image/bmp;base64,{{product.images['0'].image}}" alt="Cinque Terre" width="400" height="400">
                  </a>
                  <div class="desc">{{product.name}}</div>
                  <div class="desc">{{product.description}}</div>
                  <div class="desc">Price : R {{product.price}}</div>
                </div>
          </div> -->
      
           <!-- <div class="col-md-6 ">
              <div class="gallery">
                  <a target="_blank" href="..assets/download (2).jpg">
                    <img src="../assets/download (1).jpg" alt="Northern Lights" width="400" height="400">
                  </a>
                  <div class="desc">Add a description of the image here</div>
                  <div class="desc">Price : R 200.00</div>
                </div>
                
          </div>
        </div> -->
      <!-- <img [src]="base64String" width="100" height="100"> -->
</div>
